@charset "ISO-8859-1";

input[type=text]{
	width: auto;
	padding:0.3em 1em;
	background:#FFFFFF;
    cursor:pointer;
    border:0;
    border-radius: 1em;
    font-size: 1.6em;
    color: #669898;
    
    box-shadow: 0 0 0 0.1em #8EC0C0;
}

input[type=password]{
	width: auto;
	padding:0.3em 1em;
	background:#FFFFFF;
    cursor:pointer;
    border:0;
    border-radius: 1em;
    font-size: 1.6em;
    color: #98CACA;
    
    box-shadow: 0 0 0 0.1em #8EC0C0;
}

::placeholder{
	color: #ACDEDE;
}

button{
	width: auto;
	padding:0.3em 1em;
	background:#F2F2F2;
    cursor:pointer;
    border:0;
    border-radius: 1em;
    font-size: 1.6em;
    color: #ACDEDE;
    
    box-shadow: 0 0 0 0 none;
}

input:focus {
	box-shadow: 0 0 0 0.1em #78b4fe;
	outline: none;
}

input[type=text]:hover {
	box-shadow: 0 0 0 0.1em #78b4fe;
}

input[type=password]:hover {
	box-shadow: 0 0 0 0.1em #78b4fe;
}

button:hover {
	color: #7AACAC;
}

button:focus {
	box-shadow: 0 0 0 0.06em #78b4fe;
	outline: none;
}

form{
	display: flex;
  	flex-direction: column;
}

.boxwrapper{
	display: flex;
	justify-content: center;
	flex-direction: column;
	
	/*
	position: fixed;
	top: 0%;
	left: 50%;
	transform: translate(-50%, 0%);
	*/
	align-items: center;
	text-align:center;
	width: 100%;
	
}

.centerbox{
	height: auto;
	width: 40em;
	color: #346666;
	
	box-sizing: border-box;
	display: flex;
  	flex-direction: column;
  	text-align: center;
  	padding-right: 1.0em;
  	padding-left: 1.0em;
	
	border:0;
    border-radius: 1em;
	box-shadow: 0 0 0 0.2em #7AACAC;
	
	margin-top: 1em;
	margin-bottom: 1em;
}

.centerboxchild{
	margin-top: 1em;
	margin-bottom: 1em;
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
    
    font-family: fa5-proxima-nova,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

p {
	margin-top: 0;
    margin-bottom: 0;
    
    font-family: fa5-proxima-nova,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1.6em;
    color: #0336FF;
}

details > summary{
	/* importado do que escrevi em button*/
	width: auto;
	padding:0.3em 1em;
	background:#F2F2F2;
    cursor:pointer;
    border:0;
    border-radius: 1em;
    font-size: 1.6em;
    color: #ACDEDE;
    
    box-shadow: 0 0 0 0 none;
}

details > summary::hover {
	color: #7AACAC;
}

details > summary::focus {
	box-shadow: 0 0 0 0.06em #78b4fe;
	outline: none;
}

details{
	font-family: fa5-proxima-nova,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.messageBody{
	background: #F2F2F2;
	
	color: #7AACAC;
}